@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #fbffed;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: #181202;
    padding: 20px;
}

header .pfp{
    width: 300px;
    height: 300px;
    border: 13px solid #fbffed;
    border-radius: 50%;
    background-image: url(./../img/argelyn.png);
    background-repeat: no-repeat;
    background-position: -120px -230px;
    background-size: cover;
    background-size: 200%;
    margin: 0 auto;
}

header h1{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    FONT-SIZE: 50PX;
    MARGIN: 20PX 0 20PX 0;
    COLOR: #fbffed;
}

main{
    width: 1500px;
    margin: 0 auto;
}

main img{
    width: 100%;
}

h1{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    TEXT-ALIGN: center;
    FONT-SIZE: 40PX;
    margin: 50px 0 25px 0;
    COLOR: #a14100;
}

h2{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    FONT-SIZE: 30PX;
    MARGIN: 5PX 0 20PX 0;
    COLOR: #181202;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    FONT-SIZE: 20PX;
    LINE-HEIGHT: 30PX;
}

p, ul, ol{
    font-size: 20px;
    line-height: 30px;
}

ul{
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

/* =========================
   WORK EXPERIENCE
========================= */

.experience-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
    gap: 20px 30px;
    align-items: center;
}


/* LEFT TEXT */

.experience-text {
    text-align: left;
}

.experience-text p {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 30px;
}


/* EXPERIENCE IMAGE */

.experience-image {
    width: 100%;
}

.experience-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* =========================
   FEEDBACKS
========================= */

.feedback-grid {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;

    align-items: start;

}


/* FEEDBACK IMAGE */

.feedback-image {

    width: 100%;

}

.feedback-image img {

    width: 100%;

    height: auto;

    display: block;

}

/* ================================
   SKILLS & EXPERTISE
================================ */
.skills-expertise {
    width: 100%;
}

/* ================================
   TWO COLUMNS
================================ */
.skills-expertise-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    align-items: start;
}

/* ================================
   VIDEO EDITING
================================ */
.video-editing-text {
    justify-self: center;
}

.video-editing-text h2 {
    text-align: left;
    margin: 0 0 15px;
}

.video-editing-text ul {
    margin: 0;
    padding-left: 22px;
}

/* ================================
   GRAPHIC DESIGN
================================ */
.graphics-design-text {
    justify-self: center;
}

.graphics-design-text h2 {
    text-align: left;
    margin: 0 0 15px;
}

.graphics-design-text ul {
    margin: 0;
    padding-left: 22px;
}

/* ================================
   LIST ITEMS
================================ */
.skills-expertise li {
    margin-bottom: 5px;
}

/* ================================
   PAST PROJECTS
================================ */
.past-projects h1 {
    text-align: center;
    margin: 10px 0 30px 0;
}

/* BUTTON STYLING */
.past-projects-wrapper button {
    background-color: #048197;
    border-radius: 20px;
    padding: 15px 0px 15px 0px;
    margin: 10px 0px 10px 10px;
    width: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-self: center;
}

a, a:visited{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffae00;
    text-decoration: none;
}

a:active{
    color: #000000;
}

/* two column layout for past projects */
.past-projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}