@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #fbffed;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: #181202;
    padding: 20px;
}

header .pfp{
    width: 300px;
    height: 300px;
    border: 13px solid #fbffed;
    border-radius: 50%;
    background-image: url(./../img/argelyn.png);
    background-repeat: no-repeat;
    background-position: -120px -230px;
    background-size: cover;
    background-size: 200%;
    margin: 0 auto;
}

header h1{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    FONT-SIZE: 50PX;
    MARGIN: 10PX 0 20PX 0;
    COLOR: #fbffed;
}

main{
    width: 1500px;
    margin: 0 auto;
}

main img{
    width: 100%;
}

h1{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    FONT-SIZE: 40PX;
    margin: 40px 0 20px 0;
    COLOR: #a14100;
}

h2{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    FONT-SIZE: 30PX;
    MARGIN: 10PX 0 20PX 0;
    COLOR: #181202;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    FONT-SIZE: 20PX;
    LINE-HEIGHT: 30PX;
}

p, ul, ol{
    font-size: 20px;
    line-height: 30px;
}

ul{
    list-style-type: disc;
    padding-left: 20px;
}

a, a:visited{
    color: #00709c;
    text-decoration: none;
}

a:hover{
    color: #a14100;
    text-decoration: underline;
}

a:active{
    color: #8d005e;
}
/* =========================
   WORK EXPERIENCE
========================= */

.experience-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
    gap: 20px 30px;
    align-items: center;
}


/* LEFT TEXT */

.experience-text {
    text-align: left;
}

.experience-text p {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 30px;
}


/* EXPERIENCE IMAGE */

.experience-image {
    width: 100%;
}

.experience-image img {
    width: 100%;
    height: auto;
    display: block;
}